__pycache__/
*.py[cod]
*.zarr
*.egg-info/
.env
.ipynb_checkpoints
pymif_old/
documentation/demonstration_open_zarr.avi
documentation/demonstration_open_zarr.mp4
documentation/demonstration_open_zarr.gif
documentation/Thumbs.db
*build/
