# aicsimageio>=4.12.1
# ome-types>=0.6.1
bioio>=3.0.0
bioio-czi>=2.4.0
# bioio.lif>=1.1.0
ome-zarr>=0.9.0
dask[distributed]>=2023.4.1
zarr>=2.6
scikit-image>=0.22.0
scikit-learn>=1.4.2
numpy==1.26.4
pandas>=2.2.2
# seaborn>=0.13.2
matplotlib>=3.8.4
tifffile>=2021.8.30
h5py>=3.14.0
readlif>=0.6.5
# keras>=3.3.3
# tensorflow>=2.16.1
numba>=0.59.1
openpyxl>=3.1.2
# pyimagej>=1.4.1
PyOpenGL>=3.1.7
scipy>=1.13.0
xarray>=2024.5.0
xlsxwriter>=3.2.0
napari[all]>=0.4.18
aicspylibczi>=3.1.1
fsspec>=2022.7.1
napari-ome-zarr==0.6.1
pytest==7.4.2
napari-animation==0.0.7
notebook
bokeh>=3.1.0
sphinx 
sphinx-autoapi
sphinx_rtd_theme
sphinx-autodoc-typehints
myst_parser
dask-image>=2024.5.3
